.form {
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding-top: 40px;
  margin: 0 auto;
}

.formItem {
  width: 400px;
  margin-right: 10px;
}

.formBtn {
  margin-left: 20px;
}
